/* XML Checking Page rev PHV 040203 */

body			{ margin: 20px; font-family: Arial, Helvetica, Sans-Serif; background-color: #ffffff; color: #000000; }

/* standard html elements */

a   			{ color: #990000; font-size: inherit; }
p a 			{ color: #990000; font-size: inherit; }
p 				{ font-size: 0.8em; }
li 			{ font-size: 0.8em; }
a:link, a:visited  	{ color: #000099; text-decoration: underline; }
a:active,a:hover  	{ color: #990000; text-decoration: none; } 
h1 			{ font-size: 1.4em; font-weight: bold; padding: 10px; text-align: center; border: 1px solid #000099; background: #eaeaea }
h2 			{ font-size: 1.2em; font-weight: normal; text-align: left; padding: 3px; border-bottom: 1px solid #000099; border-left: 5xp solid #000099; background-color: #eaeaea; color: #000099; }
h3 			{ font-size: 1.1em; font-weight: bold; color: #990000; }
h4 			{ font-size: 14pt; font-weight: bold; padding: 10px; color: #000000; }
h5 			{ font-size: 12pt; font-weight: bold; padding: 10px; } 
h6			{ font-size: 11pt; font-weight: bold; padding: 10px; font-style: italic; }

/*table formatting*/

table.detail 		{ border-top: 1px solid #000099; border-left: 1px solid #000099; border-bottom: 1px solid #000099; }
table.detail td 	{ border-right: 1px solid #000099; border-bottom: 1px solid #000099; font-size: 0.8em;}
table.head 		{ border-top: 1px solid #000099; border-left: 1px solid #000099; border-bottom: 1px solid #000099; }
table.head td 	{ border-right: 1px solid #000099; border-bottom: 1px solid #000099; font-size: 1em;}
table.sub 		{ border-top: 1px solid #000099; border-left: 1px solid #000099; }
table.sub td 	{ border-right: 1px solid #000099; border-bottom: 1px solid #000099; font-size: 0.9em;}
table.toc	  	{ font-size: 0.9em; background-color:#eaeaea; border: 1px solid #777777;}
table.toc th		{  }
table.toc td    	{  }
table.toc th.head  	{ background-color: #000099; color: #FFFFFF; font-weight: bold; }
table.list			{ width: 100%; background-color:#ffffff; }
table.list td 		{ font-size: 0.9em; }
table.links			{ width: 100%; background-color:#ffffff; }
table.links	td		{ font-size: 0.9em; }
table.group 		{ background-color:#eaeaea; }
table.group th 		{ border-right: 1px solid #777777; width: 100px;}
table.group td 		{ line-height:1.4em }
th.main			{ background-color: #000099; color: #FFFFFF; border-right: 1px solid #fff; border-bottom: 1px solid #fff; font-size: 0.9em; } 
th.subsid		{ background-color:#c0c0c0; color:#000099; border-right: 1px solid #000099; border-bottom: 1px solid #000099; solid #000099; font-size: 0.9em;}
th.head		{ background-color:#c0c0c0; color:#000099; border-right: 1px solid #000099; border-bottom: 1px solid #000099; solid #000099; font-size: 1.1em;}
th.id				{ background-color:#ffffcc; color:#000000; border-right: 1px solid #000099; border-bottom: 1px solid #000099; solid #000099; font-size: 0.9em;}
th.tablenormal 		{ font-weight: bold; text-align: center; background-color: #eaeaea; color: #000000; padding: 3px; border: 1px solid #777777; }
td.tablenormal 		{ background-color: #eaeaea; color: #000000; padding: 3px; border: 1px solid #777777; }
td.list			 		{ background-color: #ffffff; color: #000000; padding: 0px 10px 0px 10px; }
td.links			 		{ background-color: #ffffff; color: #000000; padding: 0px 40px 0px 40px; } 


/* indented groups */

div.level1 		{ border-bottom: 3px dotted #777777;margin-left: 0px;  padding-bottom: 15px; margin-bottom: 30px; margin-right: 0px;}
div.level2 		{ border-bottom: 3px dotted #777777;margin-left: 30px; padding-bottom: 15px; margin-bottom: 30px; margin-right: 0px;}
div.sublist 		{ margin-left: 30px; margin-bottom: 15px; margin-right: 0px;}
div.level3 		{ border-bottom: 3px dotted #777777;margin-left: 60px; padding-bottom: 15px; margin-bottom: 30px; margin-right: 0px;}
div.level4 		{ border-bottom: 3px dotted #777777;margin-left: 90px; padding-bottom: 15px; margin-bottom: 30px; margin-right: 0px;}
div.level5 		{ border-bottom: 3px dotted #777777;margin-left: 120px; padding-bottom: 15px; margin-bottom: 30px; margin-right: 0px;}

/* special formatting */

p.comment 		{ padding: 5px; background-color: #ffcccc; color: #000099; border: 1px #000099 solid; font-size: 0.8em; font-weight: bold; text-align:center; }
td.comment 		{ padding: 5px; background-color: #ffcccc; color: #000099; border: 1px #000099 solid; font-size: 0.8em; font-weight: bold; }
.fname		 	{ background-color: #00CC99; color: #ffffff; font-weight:bold;}
.ftype		 	{ background-color:#6699FF; color: #ffffff; font-weight:bold;}
.new 			{ border: 1px solid #990000; background-color: #ffcccc; }
.phead 			{ border: 1px solid #000099; background-color: #CCCCFF; }
.warning 		{ background-color: #ff0000; color: #ffffff; font-weight: bold; }
.warning2 		{ background-color: #ff9933; color: #ffffff; font-weight: bold; }
.warning3 		{ background-color: #ffffff; color: #ff9933; font-weight: bold; }
.dateEdited 		{ color: #009900; font-weight: bold; }
.elemName 		{ font-family: Monospace; font-size: 16pt; background-color: #cc0000; color: #ffffff;}
.elemName2 		{ font-family: Monospace; font-size: 12pt; background-color: #cc0000; color: #ffffff;}
.elem 			{ font-family: Monospace; background-color: #ff0000;  color: #ffffff;}
.elem2 			{ font-family: Monospace; background-color: #000099;  color: #ffffff;}
.att 			{ font-family: Monospace; background-color: #ffee99;  color: #000000;}
.fn 			{ font-size: 90%;}
.keyid 			{ background-color: #ffffcc;  color: #000000;}
.code 			{ padding: 10px 10px 0px 10px; background-color: #FFFFCC; color: #000000; border: 1px solid #c0c0c0; }
.pre 			{ padding: 10px 10px 0px 10px; background-color: #FFFFCC; color: #000000; border: 1px solid #c0c0c0; }

.highlight { background-color: #ffffcc; color: #000; font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; font-size: 13px; line-height: 1.5em;   } /* added by ZA to add highlights */
.highlight2 { background-color: #ffcc66; color: #000; font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; font-size: 13px; line-height: 1.5em;   } /* added by ZA to add highlights */



.composer 			{ color: #ff0000;}
.title 					{ color: #0000ff;}
.opus 					{ color: #33CC33;}
.key 					  { color: #FF6600;}
.pubplace 			{ color: #007700;}
.publisher 			{ color: #CC00FF;}
.price 					{ color: #3399FF;}
.biblgroup      { background-color: #333333; color: #ffffff;}






/*  VESTIGES FROM OLD CSS BELOW */







/* ################################################################# */
/* BASIC.CSS */
/* ================================================================= */
/* C:\user\ac-maple\css\basic.css */
/* Basic css file for basic xsl output */
/* This file will eventually be used by most of the documentation sites */
/* Last changed  2003-05-16 @ 16:52  */
/* ================================================================= */
/* ################################################################# */


/* #################################################### */
/*                   STANDARD LOOK                      */
/* #################################################### */













/* ============== */
/* SPECIAL */
/* ============== */

/* SPECIAL1 */
/* Used for icar-tei notes */
/*
.special1 {
  text-align: center;
  background-color: #ffee99;
  color: #000000;
}
*/
/* 
FORMATTING INFO
bg colour: yellow, like toc
colour: black
 */

/* TEIHEADERINFO */
/* Used for icar-tei notes */

/* teiheader */
/*
.teiheader {
  background-color: #cccc99;
  color: #ffffff;
  font-size: 11pt;
*/
/* 
FORMATTING INFO
bg colour: beige
colour: white
 */

/* CENTER */
/* a quick way to center text */
/*
.center {
  text-align: center;
}
*/
/* ============== */
/* ELEMENTS AND ATTRIBUTES */
/* ============== */

/* ---- As the heading ---- */




/* #################################################### */
/* ##############  SEPARATORS  ################# */
/* #################################################### */
/*
.links {
  background-color: #ffffff;
  color: #0000ff;
}
*/
/* #################################################### */
/* ##############  SEPARATORS  ################# */
/* #################################################### */
/*
hr.separator {
  background-color: #999999;
  height: 5px ;
}
*/
/* #################################################### */
/* ##############  to sort  ################# */
/* #################################################### */

/* #################################################### */
/*                   MAJOR SECTION                      */
/* #################################################### */

/* ========================================== */
/*                Minor SECTION               */
/* ========================================== */





/*

.new {
  background-color: #FF0000;
  color: #FFFFFF;
}

.warning {
  background-color: #ff0000;
  color: #ffffff;
  font-weight: bold;
  font-size: 0.8em;
}


.warning2 {
  background-color: #ff9933;
  color: #ffffff;
  font-weight: bold;
  font-size: 0.8em;
}


.blank {
  background-color: #cccccc;
  color: #000000;
}

/* ========================================== */
/*                AUTHORITY LISTS             */
/* ========================================== */

/* Used for ICAR checking pages */
/*
.authList1 {
  background-color: #CC0000;
  color: #FFFFFF;
}

.authList2 {
  background-color: #CC0000;
  color: #FFFFFF;
}

.authList3 {
  background-color: #cc9999;
  color: #FFFFFF;
}

.authList4 {
  background-color: #ffffff;
  color: #cc0000;
  font-weight: bold;
}

.authList5 {
  background-color: #ff9933;
  color: #FFFFFF;
}

.authList6 {
  background-color: #ff9933;
  color: #FFFFFF;
}

.authList7 {
  font-family: Monospace;
  background-color: #ffffff;
  color: #006600;
}

.authList8 {
  background-color: #ffffff;
  color: #cc0000;
  font-weight: bold;
}

.authList9 {
  background-color: #EAEAEA;
}

.authList10 {
  background-color: #006600;
  color: #FFFFFF;
}

.authList11 {
  background-color: #cccccc;
  color: #000000;
}

.authList12 {
  background-color: #ffffff;
  color: #000000;
}

.authList13 {
  background-color: #ffffff;
  color: #000099;
}
*/



/* ========================================== */
/*                TABLES              */
/* ========================================== */

/*

th.table2 {
  font-weight: bold;
  text-align: center;
  background-color: #ffee99;
  color: #000000;
    padding: 3px;
  border: 1px solid #777777;
}

td.table2 {
  background-color: #ffee99;
  color: #000000;
    padding: 3px;
  border: 1px solid #777777;
}

th.table3 {
  font-weight: bold;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
    padding: 3px;
  border: 1px solid #777777;
}

td.table3 {
  background-color: #ffffff;
  color: #000000;
    padding: 3px;
  border: 1px solid #777777;
}

th.table4 {
  font-weight: bold;
  text-align: center;
  background-color: #ffcccc;
  color: #000000;
    padding: 3px;
  border: 1px solid #777777;
}

td.table4 {
  background-color: #ffcccc;
  color: #000000;
  padding: 3px;
  border: 1px solid #777777;
}




th.toc2 {
  font-size: 14pt;
  font-weight: bold;
  text-align: center;
  background-color: #eeeeee;
  color: #000000;
}

td.toc2 {
  background-color: #eeeeee;
  color: #000000;
}
*/

/* ========================================== */
/*                COMMENTS              */
/* ========================================== */
/*
.comment {
  background-color: #ffcccc;
  color: #000000;
  border: thin black dotted;
}
*/
/* #################################################### */
/*                   SPECIAL EXTRAS                     */
/* #################################################### */

/* ========================================== */
/*                TERMS                       */
/* ========================================== */

/* Used for searchable terms */
/*
.term1 {
  background-color: #CC0000;
  color: #FFFFFF;
}

.term2 {
  background-color: #ffcccc;
  color: #FFFFFF;
}

.term3 {
  background-color: #0000CC;
  color: #FFFFFF;
}

.term4 {
  background-color: #cc9999;
  color: #FFFFFF;
}

.term5 {
  background-color: #ccffff;
  color: #FFFFFF;
}

.term6 {
  background-color: #ff9933;
  color: #FFFFFF;
}
*/
/* ========================================== */
/*                NEW ITEMS                    */
/* ========================================== */

/* Used for new additions etc. */


/* ========================================== */
/*                DATE LAST EDITED             */
/* ========================================== */

/* datEdited 
.dateEdited {
  color: #009900;
  font-weight: bold;
}
*/
/* ========================================== */
/*                WARNINGS            */
/* ========================================== */

/* ============== */
/* COMMENT STYLES */
/* ============== */

/* Used for ... */
/* 
FORMATTING INFO
bg colour:
colour:
border:
other:
 */
