body {margin: 0; padding: 0; font: 100% Verdana, Arial, Helvetica, sans-serif;}
#bs { background:url(../i/frame/bg.png) 0 0 repeat-x;overflow:hidden}
#bs h3 {margin:0;padding:0;background:url(../i/frame/left.jpg); height: 60px; width: 353px; float: left; text-indent:-5000px;}
#bs .gx {float:right; height: 60px; background:url(../i/frame/right.jpg); width: 156px;}
#cs h4 {padding: 4px 20px 0 56px;margin:0;font-size: 70%; color:#666;font-weight: normal;}
#cs strong {color:#44a2cb;font-weight: bold}